name: Test
on:
  workflow_call:
    inputs:
      target:
        required: false
        default: '16'
        type: string
      mysql_database_name:
        required: false
        type: string
      mysql_schema_path:
        required: false
        type: string
        default: 'src/helpers/schema.sql'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.target }}
          cache: 'yarn'
      - name: Set up MySQL
        if: ${{ inputs.mysql_database_name }}
        run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE ${{ inputs.mysql_database_name }};' -uroot -proot
          mysql -uroot -proot ${{ inputs.mysql_database_name }} < ${{ inputs.mysql_schema_path }}
          mysql -uroot -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"
          mysql -uroot -proot -e "FLUSH PRIVILEGES;"
      - run: yarn
      - run: yarn test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
